<body style="background: linear-gradient(90deg, #FFDE59, #FFB84D);">
    <main>
        <section class="products">
            <img src="images/pages/portada.png" alt="Bienvenido a Adopt Me." class="main-title-image">
        </section>
        <div class="button-container">
            <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
            <a href="/register" class="btn btn-primary">Registrarse</a>
        </div>
    </main>
</body>

<style>
    body {
        font-family: 'League Spartan', sans-serif;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        border: 3px solid #292927;
        color: #292927;
        cursor: pointer;
        border-radius: 20px;
        text-transform: uppercase;
        text-decoration: none;
        background: linear-gradient(90deg, #FFDE59, #FFB84D);
    }

    .btn:hover{
        color:  #FFB84D;
        border: 3px solid #292927;
        background: #292927;
    }

    .main-title-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
</style>